@use '../../../assets/styles/constants.scss'as *;

.product {


	&:hover {
		.productImg {
			transition: 300ms;
			transform: scale(1.1);

		}
	}

	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	padding: 20px 20px 15px 20px;
	color: $productName;
	position: relative;

	.productImg {
		width: 280px;
		height: 200px;
		border-radius: 50%;
		margin-bottom: 5px;
		transition: 300ms;

	}

	.productName {
		margin: 0;
		font-weight: 500;
		font-size: 24px;
	}

	.ingradients {
		height: 38px;
		margin-left: 0;
		padding-left: 0;
		list-style-type: none;
		margin-bottom: 40px;

		li {
			display: inline-block;
			font-weight: 300;
			font-size: 13px;
			margin-right: 2px;

			&:first-child::first-letter {
				text-transform: capitalize;
			}
		}
	}

	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.price {
			font-weight: 500;
			font-size: 24px;
		}

		.addProduct {
			background: $buttonBg;
			padding: 7px 24px;
			border: none;
			font-weight: 500;
			font-size: 18px;
			border-radius: 70px;
			color: #FFFFFF;
			text-align: center;
			cursor: pointer;

			&:hover {
				background-color: $btnBgHover;


			}

			&:active {
				// background-color: #3e8e41;
				// box-shadow: 0 5px #666;
				transform: translateY(2px);
			}
		}
	}
}

@media screen and (max-width:700px) {
	.product {
		&:hover {
			.productImg {
				transform: scale(1);
			}
		}

		max-width:400px;
		margin: 0 auto;

	}

}