@use '../../../assets/styles/constants.scss'as *;

.productModal {
	border-radius: 5px;
	padding: 40px;
	padding-top: 70px;
	width: 850px;
	box-sizing: border-box;

	.main {
		display: flex;
		justify-content: space-between;

		.info {
			padding: 40px 20px 0 20px;
			width: 400px;


			.name {
				color: rgb(48, 46, 44);
				font-size: 30px;
				font-weight: 500;
				margin: 0;
				padding: 0;
			}

			.ingradients {
				padding: 0;
				margin: 0;
				margin-top: 10px;
				font-size: 20px;
				font-weight: 400;
				// text-align: justify;

				&:first-letter {
					text-transform: uppercase;

				}
			}


			.typeSelection {
				margin-top: 10px;
				font-size: 18px;
				display: grid;
				grid-template-columns: 1fr;
				gap: 5px;
				margin-top: 15px;

				label {
					position: relative;
					cursor: pointer;
				}

				.divider {
					margin: 0 10px;
				}

				input[type="radio"] {
					position: relative;

					margin: 0 1rem 0 0;

					cursor: pointer;

					&:before {
						transition: .4s cubic-bezier(.45, 1.8, .5, .75);
						// @include transform(scale(0, 0));
						transform: scale(0, 0);

						content: "";

						position: absolute;
						top: 2px;
						left: 2px;
						z-index: 1;

						width: 10px;
						height: 10px;

						background: rgb(48, 46, 44);

						border-radius: 50%;
					}

					&:checked {
						&:before {
							// @include transform(scale(1, 1));
							transform: scale(1, 1);

						}
					}

					&:after {
						content: "";

						position: absolute;
						top: -2px;
						left: -2px;

						width: 14px;
						height: 14px;

						background: #fff;

						border: 2px solid rgb(48, 46, 44);
						border-radius: 50%;
					}
				}
			}
		}
	}

	.addProduct {
		background: $buttonBg;
		padding: 7px 24px;
		border: none;
		font-weight: 500;
		font-size: 18px;
		border-radius: 70px;
		color: #FFFFFF;
		text-align: center;
		cursor: pointer;
		display: block;
		margin-left: auto;

		&:hover {
			background-color: $btnBgHover;


		}

		&:active {
			// background-color: #3e8e41;
			// box-shadow: 0 5px #666;
			transform: translateY(2px);
		}
	}

	img {
		width: 400px;
	}
}

@media screen and (max-width: 1000px) {
	.productModal {
		border-radius: 5px;
		padding: 20px;
		padding-top: 70px;
		width: calc(100% - 115px);
		width: 90vw;
		box-sizing: border-box;

		.main {
			flex-direction: column;

			.info {
				padding: 20px 20px 0 20px;
			}
		}

		.addProduct {
			padding: 7px 33px;

			margin: 0 auto;
			margin-top: 20px;


		}

		img {
			width: 100%;
			height: 100%;
		}
	}
}