@use '../../styles/constants.scss'as *;

.header {
	background: $headerBg;
	color: $headerText;
	padding: 21px 0;

	.container {
		max-width: $containerWidth;
		margin: 0 auto;

		@media screen and (max-width:1600px) {
			max-width: 1200px;

		}
	}

	.grid {
		display: grid;
		grid-template-columns: 200px 3fr 200px 1fr 200px;
		align-items: center;



		.storeName {
			grid-column: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				width: 38px;
				height: 38px;
			}

			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;

		}

		.menu {
			display: flex;
			justify-content: space-between;
			grid-column: 3;
			font-weight: 400;
			font-size: 24px;

			a {

				&:hover {
					color: #e6e3e3;
				}
			}
		}

		.cart {
			background-color: $buttonBg;
			grid-column: 5;
			border-radius: 62px;
			padding: 8px 35px 7px 35px;
			cursor: pointer;

			.flexContainer {
				display: flex;
				justify-content: space-between;
				position: relative;
				align-items: center;

				.cost {
					font-weight: 400;
					font-size: 24px;
				}

				.cartLogo {
					position: relative;

					img {
						width: 34px;
						height: 30px;
					}

					.productsCount {
						font-size: 13px;
						top: -5px;
						right: -10px;
						position: absolute;
						border-radius: 50%;
						background: #282828;
						width: 22px;
						height: 22px;
						text-align: center;
						line-height: 22px;
					}
				}

				&::after {
					position: absolute;
					content: "";
					height: 33px;
					width: 1px;
					background-color: #ffffff;
					right: 60px;
					top: 0;
				}

			}

			&:hover {
				background-color: $bgHover;


			}
		}
	}
}