@use '../../styles/constants.scss'as *;

.header {
	background: $headerBg;
	color: $headerText;
	padding: 21px 0;

	.container {
		max-width: $containerWidth;
		margin: 0 auto;

		@media screen and (max-width:1600px) {
			max-width: 1200px;
		}


	}

	.adaptiveLines {
		display: none;
	}

	.grid {
		display: grid;
		grid-template-columns: 200px 3fr 200px 1fr 250px;
		align-items: center;



		.storeName {
			grid-column: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;

			img {
				width: 38px;
				height: 38px;
			}

			font-weight: 600;
			font-size: 24px;
			text-transform: uppercase;

		}

		.menu {
			display: flex;
			justify-content: space-between;
			grid-column: 3;
			font-weight: 400;
			font-size: 24px;

			a {

				&:hover {
					color: #e6e3e3;
				}
			}
		}

		.cart {
			background-color: $buttonBg;
			grid-column: 5;
			border-radius: 62px;
			padding: 7px 35px;
			min-width: 200px;
			max-width: 250px;
			cursor: pointer;
			justify-self: right;

			&:active {
				transform: translateY(2px);
			}

			.flexContainer {

				display: flex;
				justify-content: space-between;
				position: relative;
				align-items: center;


				.cost {
					font-weight: 400;
					font-size: 24px;
					line-height: 24px;
					text-align: right;
				}

				.cartLogo {
					transition: all 300ms;
					width: 34px;
					height: 30px;

					position: relative;

					img {
						width: 34px;
						height: 30px;
					}

					.productsCount {
						font-size: 13px;
						top: -5px;
						right: -10px;
						position: absolute;
						border-radius: 50%;
						background: #282828;
						width: 22px;
						height: 22px;
						text-align: center;
						line-height: 22px;
					}
				}

				span {
					transition: 300ms;
					transition: all 300ms;
					display: block;
					height: 33px;
					width: 1px;
					background-color: #ffffff;
					margin: 0 10px;
				}
			}

			&:hover {
				background-color: $btnBgHover;
			}
		}
	}
}

@media screen and (max-width: 1000px) {

	.header {
		padding: 11px 0;
		position: relative;

		.adaptiveLines {
			padding-left: 10px;
			padding-bottom: 3px;
			display: block;
			padding: 0 10px 3px 10px;

			.lines {
				span {
					transition: 400ms;

					display: block;
					width: 15px;
					height: 2px;
					background: rgb(255, 255, 255);

					&:nth-child(2) {
						transform: translateY(5px);
					}
				}
			}

			.linesAnimation {
				transition: 400ms;

				span {
					transition: 400ms;

					&:nth-child(1) {
						transform: rotate(-45deg) translate(0px, 1px);
						;
					}

					&:nth-child(2) {
						transform: rotate(45deg) translate(0px, -2px);
					}
				}
			}

			.storeName {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 150px;
				margin: 0 auto;

				img {
					width: 25px;
				}

				font-weight: 600;
				font-size: 18px;
				text-transform: uppercase;

			}

			.adaptiveCart {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 15px;

				&:active {
					transform: translateY(2px);
				}

				.cartLogo {
					position: relative;

					img {
						width: 25px;
						height: 21px;
					}

					.productsCount {
						font-size: 9px;
						top: -5px;
						right: -5px;
						position: absolute;
						border-radius: 50%;
						background: #282828;
						width: 15px;
						height: 15px;
						text-align: center;
						line-height: 15px;
					}
				}
			}

		}



		.container {
			border-top: 1px solid rgb(105, 105, 105);
			max-width: $containerWidth;
			margin: 0 auto;
			opacity: 0;
			transform: translateY(-10px);
			pointer-events: none;
			transition: 400ms;
			background: transparent;
			position: absolute;
			padding: 15px 0;
			z-index: 100;
			width: 100vw;
		}

		.containerActive {
			top: 42px;
			width: 100vw;
			background: $headerBg;
			display: flex;
			flex-direction: column;
			position: absolute;
			transition: 400ms;
			opacity: 1;
			transform: translateY(10px);
			pointer-events: all;

		}

		.grid {
			grid-template-columns: 0;


			.storeName {
				display: none;
			}

			.menu {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-size: 16px;

				a {

					&:hover {
						color: #e6e3e3;
					}

					&:nth-child(1) {
						margin-bottom: 13px;
					}
				}
			}

			.cart {
				display: none;

			}
		}
	}

}