@use '../../assets/styles/constants.scss'as *;

.pageContainer {

	position: relative;


	.container {
		max-width: $containerWidth;
		margin: 0 auto;
		padding-top: 70px;
		padding-bottom: 50px;

		.title {
			text-align: center;
			color: $pageTitleText;
			font-weight: 500;
			font-size: 48px;
			text-shadow: 0px 4px 4px #00000040;
			margin: 0;
			margin-bottom: 80px;
		}

		.grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 40px;
		}
	}
}

@media screen and (max-width:1300px) {
	.pageContainer {
		.container {
			padding: 70px 50px 50px 50px;


			.grid {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 40px;
			}
		}
	}
}

@media screen and (max-width:1100px) {
	.pageContainer {
		.container {
			padding: 70px 50px 50px 50px;

			.grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 40px;
			}
		}
	}
}


@media screen and (max-width:700px) {
	.pageContainer {
		.container {
			padding: 30px 20px;


			.title {
				margin-bottom: 40px;
				font-size: 38px;
			}

			.grid {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 40px;
			}
		}
	}
}