@use '../../styles/constants.scss'as *;

.chapter {
	color: $pageTitleText;
	font-size: 32px;
	text-align: center;
	margin: 0;
	margin-bottom: 40px;

}

form {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 75px;

	input {
		border-radius: 5px;
		border: 2px solid #626262;
		padding: 8px 15px;
		font-size: 20px;
		color: #313131;
		transition: 200ms;
		position: relative;



		&:focus {
			transition: 200ms;
			border: 2px solid #494949;


		}
	}

	.error {
		border: 2px solid #df4343;

	}
}

.orderBtn {

	margin-top: 70px;
	text-align: center;

	button {
		border: none;
		width: 300px;
		background: $buttonBg;
		color: #ffffff;
		padding: 12px 0;
		border-radius: 62px;
		font-weight: 600;
		font-size: 22px;

		&:hover {
			cursor: pointer;
			background: $btnBgHover;
		}
	}
}

.isDisabled {
	button {
		background: #f66e6e;

		&:hover {
			cursor: default;
			background: #f66e6e;
		}
	}
}

@media screen and (max-width:700px) {
	.chapter {
		color: $pageTitleText;
		font-size: 32px;
		text-align: center;
		margin: 0;
		margin-bottom: 40px;

	}

	form {
		padding: 0 20px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;

		input {
			border-radius: 5px;
			border: 2px solid #626262;
			padding: 8px 15px;
			font-size: 20px;
			color: #313131;
			transition: 200ms;
			position: relative;



			&:focus {
				transition: 200ms;
				border: 2px solid #494949;


			}
		}

		.error {
			border: 2px solid #df4343;

		}
	}

	.orderBtn {

		margin-bottom: 20px;

		button {
			border: none;
			width: 300px;
			background: $buttonBg;
			color: #ffffff;
			padding: 12px 0;
			border-radius: 62px;
			font-weight: 600;
			font-size: 22px;

			&:hover {
				cursor: pointer;
				background: $btnBgHover;
			}
		}
	}

	.isDisabled {
		button {
			background: #f66e6e;

			&:hover {
				cursor: default;
				background: #f66e6e;
			}
		}
	}
}